p {
    background-color: blue;
    color: white;
}

ul {
    margin-left: 15%; font-weight: bold;
}

html {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

table, th, td {
        border:1px solid black;
    }   